h1= title
script(type="text/javascript")
	var socket = io.connect();
	socket.on('delitem', function (data) {
		$('.news_items li').each( function() {
			var i=$(this).attr('rel');
			if(data.indexOf( i ) != -1) {
				$(this).fadeOut( function() { $(this).remove(); } );
			}
		});
	});
	function toarr(hash, reverse) {
		var r=[];
		$.each( hash, function(k,v) {
			r.push( [k, v] );
		});
		if(arguments.length>0 && reverse) {
			r.sort( function(a, b) {
				return b[0]-a[0];
			} );
		} else {
			r.sort( function(a, b) {
				return a[0]-b[0];
			} );
		}	
		return r;
	}
	function gen_ts( ms ) {
		var d=new Date(parseInt(ms));
		return $.format.date(d, 'HH:mm MMM dd, yyyy');
	}
if user_role=='admin'
	script(type="text/javascript")
		socket.on('news', function (data) {
			$.each(toarr(data, true), function(i, item) {
				if(!item) { return true; }
				var key=item[0];
				var v=item[1];
				var ts='<span class="ts">'+gen_ts(key)+'</span> ';
				$('.news_items').append('<li rel="'+key+'"><input rel="'+key+'" type="checkbox"></input> '+ts+v+'</li>');
			});
		});
		socket.on('newitem', function (data) {
				var ts='<span class="ts">'+gen_ts(data[0])+'</span> ';
				$('.news_items').prepend( $('<li rel="'+data[0]+'"><input rel="'+data[0]+'" type="checkbox"></input> '+ts+data[1]+'</li>').hide().fadeIn(200));
		});
		$(document).ready( function() {
			$('.msg').keypress( function(e) {
				var code=e.which||e.keyCode;
				if(code==13) {
					socket.emit('newmsg', {msg:$(this).val()});
					$(this).val('');
				}
			} );
			$('.select_all').click( function() {
				$('.news_items input[type="checkbox"]').prop('checked', $(this).prop('checked'));
			});
			$('a.remove_selected').click( function() {
				var collected=[];
				$('.news_items input[type="checkbox"]:checked').each( function() {
					var item=$(this);
					var i=item.attr('rel');
					collected.push(i);
				} );
				if(collected.length>0) {
					socket.emit('delmsg', collected);
				}
				$('.select_all').prop('checked', false);
			} );
		});
	input.msg(type='text')
	p
		a.remove_selected(href="#") Remove Selected
	p
		input.select_all(type='checkbox')
		label Select All
else
	script(type="text/javascript")
		socket.on('news', function (data) {
			$.each(toarr(data, true), function(i, item) {
				if(!item) { return true; }
				var key=item[0];
				var v=item[1];
				var ts='<span class="ts">'+gen_ts(key)+'</span> ';
				$('.news_items').append('<li rel="'+key+'">'+ts+v+'</li>');
			});
		});
		socket.on('newitem', function (data) {
			var ts='<span class="ts">'+gen_ts(data[0])+'</span> ';
			$('.news_items').prepend($('<li rel="'+data[0]+'">'+ts+data[1]+'</li>').hide().fadeIn(300).fadeOut(300).fadeIn(300));
		});
p Welcome to #{title}, here's a list of What's New:
ul.news_items
